<nav class="navbar navbar-expand-lg navbar-dark bg-primary navbar-fixed-top">
    <div class="container">
        <a class="navbar-brand" routerLink="/home">Remiseria Humberto</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03"
            aria-expanded="false" aria-label="Toggle navigation" style="">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" *ngIf="logged && chofer">
                    <a class="nav-link active" [routerLink]="['/viajes_chofer']">Viajes</a>
                </li>
                <li class="nav-item" *ngIf="logged && cliente">
                    <a class="nav-link active" [routerLink]="['/viaje_form']">Viajes</a>
                </li>
                <li class="nav-item dropdown" *ngIf="logged && (admin || encargado )">
                    <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        Administrar
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" routerLink="/user_list" *ngIf="admin || encargado">Usuarios</a>
                        <a class="dropdown-item" href="#" *ngIf="admin || encargado" [routerLink]="['/viajes_board']">Viajes</a>
                        <a class="dropdown-item" href="#" *ngIf="encargado">Informes</a>
                        <a class="dropdown-item" routerLink="/vehiculo_form" href="#" *ngIf="admin || encargado">Vehiculos</a>
                    </div>
                </li>
            </ul>
            <button class="btn btn-outline-light my-2 my-sm-0" routerLink="/login" *ngIf="!logged">Iniciar Sesión</button>
            <button class="btn btn-outline-light my-2 my-sm-0" routerLink="/registro" *ngIf="!logged">Registrarse</button>
            <button class="btn btn-outline-light my-2 my-sm-0" *ngIf="logged">Mi cuenta</button>
            <button class="btn btn-outline-light my-2 my-sm-0" *ngIf="logged" (click)="logout()">Cerrar Sesión</button>
        </div>
    </div>
</nav>
<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</div>
<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; UTNFRA Laboratorio 4</p>
    </div>
    <!-- /.container -->
</footer>