  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 order-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="../../assets/image/pizza_home.jpeg" alt="">
          </div>
        </div>
        <div class="col-md-6 order-1">
          <div class="p-5">
            <h2 class="display-4">Las mejores pizzas de zona sur</h2>
            <p>Todos nuestros productos estan elaborados con ingredientes seleccionados cuidadosamente</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="../../assets/image/pizza_home1.jpeg" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="p-5">
            <h2 class="display-4">Quienes somos</h2>
            <p>Una empresa familiar con mas de 30 años en el mercado, ofreciendo la tradición italiana a la mesa y máxima calidad de atención</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 order-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="../../assets/image/pizza_home2.jpeg" alt="">
          </div>
        </div>
        <div class="col-md-6 order-1">
          <div class="p-5">
            <h2 class="display-4">Contacto</h2>
            <p>Dirección: Av Mitre 750, Avellaneda, Buenos Aires, Argentina</p>
            <p>Teléfono: 4444-4444</p>
            <a>Mail: pizzeria@argenta.com.ar</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>